@import '../../../assets/css/color';

.form {
    input, textarea {
        font-size: 16px;
    }
    margin: 0 auto;
    max-width: 600px;
    padding: 25px;

    .form-row {
        position: relative;
        margin: 20px 0;
        width: 100%;
    }

    .form-label {
        color: $color-grey-600;
        display: block;
        font-size: 13px;
        left: 0;
        position: absolute;
        top: 10px;
        transition: .2s ease-in;
        width: 100%;

        &.active {
            transform: scale(0.9) translateX(-30px) translateY(-22px);
        }
    }

    .form-input {
        border: none;
        border-bottom: 1px solid $color-grey-100;
        padding: 10px 0;
        width: 100%;

        &:-webkit-autofill {
            background-color: transparent;
        }

        &:focus {
            border-bottom: 2px solid $color-red-300;
            outline: none;

            +.form-label {
                color: $color-red-300;
                transform: scale(0.9) translateX(-30px) translateY(-22px);
            }
        }
    }
}

.title {
    margin: 0 auto 25px;
    max-width: 600px;
}