<h1>Usuários</h1>
<div class="card">
    <div class="card-row" (click)="showUser(u)" *ngFor="let u of users">
        <a>{{ u.id }} - {{ u.nome }}</a>
        <div>
            <button type="button" class="btn-action" (click)="showUser(u)">Ver detalhes</button>
            <button type="button" class="btn-action" (click)="updateUser(u)">Editar</button>
            <button type="button" class="btn-action red" (click)="delete(u)">Excluir</button>
        </div>
    </div>
</div>

<button type="button" class="btn btn-red btn-float" (click)="addUser()"><span>+</span></button>