@import '../assets/css/color';

.menu {
    background-color: $color-red-300;
    box-shadow: rgba(0, 0, 0, .35) 0 2px 7px;
    width: 100%;

    ul {
        display: flex;
        max-width: 1030px;
        margin: 0 auto;
    }

    li {
        a {
            color: $color-white;
            display: block;
            padding: 25px 20px;
            text-decoration: none;

            &:hover {
                background-color: $color-red-400;
            }

            &.active {
                background-color: $color-red-500;
                &:hover {
                    background-color: $color-red-600;
                }
            }
        }
    }
}

.container {
    margin: 30px auto;
    max-width: 1000px;
}